body{
  background-color: "white";
  font-color: "black";
  border: 1px black solid; padding: 20px; border-collapse: separate; border-spacing: 10px;
}
.title{
  font-size: 25px;
}
button{
  padding: 14px 40px;
  border-radius: 4px;
}
